#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#logout {
    border: 1px solid red;
    padding: 10px;
}


table,
tr,
th {
    /* width: 70%; */
    border: 1px solid lightblue;
    border-collapse: collapse;
}

#space-between {
    margin: 20px;
}

input {
    margin: 10px;
}

td {
    border: 1px solid lightblue;
    border-collapse: collapse;
    padding: 0.2rem 0.5rem;
    text-align: end;
}
#footer{
    display: inline;
}